@import './../shared.scss';

div.wrapper {
    display: flex;
    align-items: center;

    img {
        display: block;
        width: 30px;
        height: 30px;
    }

    p.battery-status {
        margin: 0 0 0 10px;
        padding: 0;
        color: $accent-color;
    }
}
