<div class="topbar">
    <app-signal-status></app-signal-status>
    <h2>Ustawienia</h2>
    <a class="settings" routerLink="/dashboard">
        <img src="assets/close.svg" alt="zamknij" />
    </a>
</div>
<h1>WiFi</h1>
<form [formGroup]="formWifi">
    <app-input-wrapper>
        <img class="icon" src="assets/cloud.svg">
        <label>SSID</label>
        <input appInputStyler formControlName="ssid" [placeholder]="wifi.ssid">
    </app-input-wrapper>
    <!-- <app-input-wrapper>
        <img class="icon" src="password.svg">
        <label>Hasło</label>
        <input type="password" formControlName="password" appInputStyler placeholder="*******">
    </app-input-wrapper> -->
    <!-- <button appButtonStyler type="button">Nadpisz ustawienia WiFi</button> -->
</form>
<h1>GSM</h1>
<form [formGroup]="formGsm">
    <app-input-wrapper>
        <img class="icon" src="assets/user.svg">
        <label>Nazwa</label>
        <input appInputStyler formControlName="name" [placeholder]="gsm.name">
    </app-input-wrapper>
    <app-input-wrapper>
        <img class="icon" src="assets/phone.svg">
        <label>Tel</label>
        <input type="tel" formControlName="phone" appInputStyler [placeholder]="gsm.phone">
    </app-input-wrapper>
    <!-- <button appButtonStyler type="button">Zapisz</button> -->
</form>
<p class="slim">MAC karty WiFi</p>
<p class="accent">{{ wifi.mac }}</p>
<p class="slim">Stan baterii</p>
<p class="accent">{{ battery.voltage }} - {{ battery.charging == 1 ? "Ładowanie" : "Rozładowywanie" }}</p>
<p class="slim">Numer karty SIM</p>
<p class="accent">{{ gsm.cardNumber }}</p>
<p class="slim">Moc sygnału</p>
<p class="accent">{{ this.gsm.rssi }}</p>