@import "./../shared.scss";

div.topbar {
  @extend .topbar-default;
}

form {
  margin: 16px;
  display: flex;
  flex-direction: column;

  button.button-element {
    margin: 8px 0;
    padding: 8px 0;
    box-sizing: border-box;

    background: none;
    border: none;
    outline: none;

    color: $light-color;
    font-size: 16px;
    text-align: center;

    -webkit-font-smoothing: inherit;
    
    cursor: pointer;

    &::-moz-focus-inner {
      border: 0;
    }

    &:hover {
        color: $accent-color;
    }
  }
}
