<div class="topbar">
  <app-signal-status></app-signal-status>
  <h2>Dashboard</h2>
  <a class="settings" routerLink="/settings">
    <img src="assets/icons/settings.svg" alt="ustawienia" />
  </a>
</div>
<h1>Powiadomienia</h1>
<div class="notifications">
  <div class="item" *ngFor="let entry of entries">
    <ng-container *ngIf="entry.type == 0">
      <img src="assets/icons/ac.svg" class="icon">
      <p>Utrata zasilania</p>
    </ng-container>
    <ng-container *ngIf="entry.type == 1">
      <img src="assets/icons/battery-charging.svg" class="icon">
      <p>Powrót zasilania</p>
    </ng-container>
    <ng-container *ngIf="entry.type == 2">
      <img src="assets/icons/battery-low.svg" class="icon">
      <p>Niski stan baterii</p>
    </ng-container>
    <span></span>
    <p class="date">{{ entry.date }}</p>
  </div>
</div>
